main {
	margin:auto;
}

body {
	position: relative;
    height: auto;
    padding-bottom: 300px;
    margin: 0px;
}

.first-title {
    color: #7e9bff;
    font-weight: normal;
    width: 970px;
    padding-top: 45px;
    font-size: 20px;
    text-align: left;
    margin: auto;
}

.second-title {
    width: 970px;
    margin: auto;
    padding-top: 20px;
}

.main-button {
	padding: 6px 12px;
	float: left;
	font-weight: bold;
	color: white;
	background: rgb(33, 58, 150);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 300ms;
}

.main-button:hover {
	background: rgb(61, 105, 225);
}

.main-input {
    float: right;
    width: 300px;
    height: 20px;
    padding: 8px 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: transparent;
    border : 1px solid rgba(255,255,255,.16);
    background-color: rgba(255,255,255,.08);
    color: #fff;
    outline: none;
    transition: all 200ms;
}

.main-input::placeholder {
    color : rgba(255, 255, 255, 0.486);
}


.main-input:hover {
    color : black;
    background-color: #fff;
}

.main-input:hover::placeholder {
    color : black;
}

main {
	box-sizing: border-box;
	width: 970px;
    height: auto;
    margin: 0px 268px;
    padding: 0px 15px 15px;
}

.contents {
    width: 970px;
    height: autopx;
}

.whiteDiv {
	width: 100%;
	height: 50px;
}

.firstDiv{
	justify-content: space-between;
	display: flex;
	padding: 15px;
}

.firstDivLeft {
	font-weight: bold;
	font-size: 20px;
	color: rgb(33, 58, 150);
}

.justify-content-start {
	display: flex;
	justify-content:center;
}

.post-no {
    flex: 0 0 72px;
    text-align: center;
    align-self: center;
    font-style: normal;
    color: #213a96;
}

.contents-input {
	padding-left: 10px;
	margin-right: 20px;
	border: 0.3px solid rgb(126, 155, 255);
	border-radius: 3px;
	outline: none;
}

.contents-input::placeholder {
	color: rgba(47, 62, 78, 0.4);
}

.select {
	margin-right: 10px;
	color: rgb(126, 155, 255);
	border-color:rgb(126, 155, 255);
	border-radius: 3px;
	outline: none;
}