* { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
}

html {
    scroll-behavior: smooth;
}

body {
    position:relative;
    margin: 0;
    height: 1800px;
}

.main {
    padding-top : 7vh;
    width: 100vw;
    height: 30vh;
    background-image: url('../headerbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.main {
    min-height: 200px;
    width: 100%;
}

.main-content {
    color: #ffffff73;
    margin: auto;
    width: 70%;
    min-width: 1000px;
    padding-top: 80px;
}

.main-content-active {
    color: #fff;
    border-bottom: 2px solid #7e9bff;
}

.main-content p {
    color: #354f9c;
    font-size: 20px;
    font-weight: 500;
}

.main-content-item {
    margin-right: 20px;
}

.main-input {
    float: right;
    width: 300px;
    height: 20px;
    padding: 8px 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    font-weight: 600;
    background-color: transparent;
    border : 1px solid rgba(255,255,255,.16);
    background-color: rgba(255,255,255,.08);
    color: #fff;
    outline: none;
    transition: all 200ms;
}

.main-input::placeholder {
    font-weight: 500;
    color : rgba(255, 255, 255, 0.486);
}

.main-input:hover {
    color : #353945;
    background-color: #fff;
}

.main-input:hover::placeholder {
    font-weight: 500;
    color : #353945;
}

.google-ad {
    margin: auto;
    width: 70%;
    height: 200px;
}

.champ-rank-container {
    margin: auto;
    min-width: 1000px;
    width: 60%;
    height: 900px;
    padding: 20px;
    box-shadow: 0 4px 16px 0 rgb(126 155 255 / 60%);
}

.position {
    display: flex;
    width: 100%;
    justify-content: left;
    color: #213a96;
    list-style: none;
    border-bottom: 1px solid #dee2e6;
    padding: 0;
}

.active {
    color: #7e9bff;
    background-color: #f6f8ff;
    border: 1px solid #7e9bff;
    border-bottom: white;
    border-radius: 4px 4px 0px 0px;
}

.position-button {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    width: 50px;
    height: 20px;
    padding: 8px 10px;
    margin-bottom: -1px;
}


.champ-list-tier {
    width: 100%;
    height: 50px;
}

.champ-list {
    width: 100%;
    height: 80%;
    background-color: rgba(215,39,25,.08);
    overflow-y:scroll;
    z-index: 1000;
}

.champ-list::-webkit-scrollbar {
    width: 5px;
}
.champ-list::-webkit-scrollbar-thumb {
    background-color:#7e9bff;
    border-radius: 10px;
    width: 3px;
}
.champ-list::-webkit-scrollbar-track {
    background-color: white;
}   

.list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    padding: 8px 0px;
}

.list span {
    position: relative;
    padding: 10px 0px;
}

.list-number::after {
    content: "";
    position: absolute;
    right: -13px;
    top: -18px;
    height: 57px;
    border-right: 1px solid rgba(126,155,255,.1);
}

.list-image {
    border-radius: 50%;
    width: 40px;
    height: 100%;
}


.list:hover {
    background-color: rgba(215,39,25,.4);
}
