.basic-info-container {
    width: 100%;
    height: auto;  /* 안에 내용이 늘어날 수록 height가 늘어남*/
    margin: auto;  /* 박스 가운데 정렬 */
    padding-bottom:500px;
}
.basic-stat-box {
    float: left;
    min-width: 50%;
    max-width: 50%;
    height: 386px;
}
.stat-top-div {
    display: flex;
    font-size: 12px;
    color: rgba(47, 62, 78, .7);
    padding: 4px;
    border-top: 1px solid blue;

}
.stat-name {
    flex: 0 0 120px;
    text-align: left;
    color: #3254ce;
}
.stat-basic {
    flex: 1 1;
    text-align: right;
    
}
.stat-final {
    flex: 0 0 64px;
    text-align: right;
}
.stat-rank {
    flex-basis: 75px;
    text-align: right;
    margin-right: 6px;
    padding-left: 8px;
}
.stat-div {
    color: #212525;
    display: flex;
    font-size: 14px;
    padding : 4px;
    background: rgba(126, 155, 255, .1);
}
.stat-span {
    flex: 0 0 120px;
    display: inline-block;
}

.skill-detail-box {
    float: right;
    min-width: 50%;
    max-width: 50%;
    height: 386px;
    padding: 0 12px 0 12px;
    
}

.i-rank {
    font-style: normal;
    color: rgba(47, 62, 78, .4);
}
.skill-detail-info {
    display: inline-block;
    width: 18%;
    padding-bottom: 24px;
    text-decoration: none;
}
.skill-detail-info:hover {
    background: rgba(126, 155, 255, .3);
}

.champ-img {
    width: 36px;
    height: 36px;
    border-radius: 4px;
}
.explanation {
    font-size: 12px;
    color: rgba(47, 62, 78, .7);
    margin-bottom: 1rem;
}
.skill-name {
    font-size: 10px;
    display: block;
    color: rgba(47, 62, 78, .7);
    line-height: 1.5;
    cursor: pointer;
    -webkit-text-stroke-width:thin;
}
.champ-skill {
    font-size: 16px;
    font-weight: 700;
}
.skill-container {
    width: 100%;
    height: 1000px;
}
.skill-info-box {
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.skill-info {
    width: 80%;
    padding: 18px 0 40px;   
    display: flex; 
}
.skill-info img {
    width: 64px;
    height: 64px;
    border-radius: 4px;
}
.skill-info-name {
    width: 20%;

}
.skill-kind {
    display: block;
    margin-bottom: 0.5rem;
    padding-top: 18px;
    font-size: 16px;
    font-weight: 700;
    color: #3d69ff;
}
.skill-kor-name {
    margin: 0 0 8px;
    color: #1d2e69;
    font-weight: bolder;

}
.skill-eng-name {
    font-size: 16px;
    color: rgba(47, 62, 78, .7);
    font-weight: 700;
    line-height: 1.5;
}
.skill-text-style {
    display: block;
    padding-left: 16px;
    font-size: 14px;
    color: #353943;
    word-wrap: break-word;
<<<<<<< HEAD
    font-weight: 700;
}
=======
}
>>>>>>> d0fa7046a7d591cd4ebd98e25ee81f4040b92efa
